.badge{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    -webkit-user-select: none; /* Pour Chrome, Safari et autres navigateurs basés sur WebKit */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer */
    user-select: none;  
}

#new{
    background-color: rgb(52, 238, 139);
    color:  rgb(31, 148, 85);
}

#troisd{
    background-color: rgb(231, 160, 38);
    color: rgb(138, 100, 24);
}

#print{
    background-color: rgb(232, 67, 67);
    color: rgb(146, 42, 42);
}

#uiux{
    background-color: rgb(83, 122, 239);
    color: rgb(46, 65, 160);
}

#da{
    background-color: rgb(231, 38, 205);
    color: rgb(138, 24, 132);
}

.enbasbadge{
    display: flex;
    position: absolute;
    top: -17px;
    left: 50px;
    gap: 10px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 1;
    transition: 0.3s ease;
    pointer-events: none; 
    justify-items: center;
    align-items: center;
}

.enbasbadge img{
    height: 2rem;
}