


  /* Menu Burger Overlay */
  .menu-burger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856); /* Couleur de fond avec opacité */
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    transform: translateY(-100%); /* Masqué hors de l'écran */
    transition: transform 0.5s ease;
    z-index: 9;
    overflow: hidden;
    padding-inline: 5%;
    padding-top: 50px;
  }

  .menu-burger-overlay a:hover{
    scale: 1.05;
    opacity: 1;
  }

  .menu-burger-overlay a:hover img{
    opacity: 1;
  }

  .menu-burger-overlay a{
    transition: 0.2s ease-in-out;
    opacity: 1;
    color: rgb(218, 218, 218);
  }
  
  .burgertout{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    margin: 0;
    width: 50%;
  }


  .titreburger{
    position: relative;
    text-decoration: none;
    font-size: 1px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
  }

  .titreburgera{
    position: relative;
    text-decoration: none;
    font-size: 3rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
  }

  .titreburger a{
    position: relative;
    text-decoration: none;
    font-size: 3rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    cursor: pointer;
  }

  .titreburger img{
    height: 2rem;
    opacity: 0.8;
    transition:0.2s ease-in-out;
  }
  
  .menu-burger-overlay li {
    margin: 1.25rem 0;
    position: relative;
    width: fit-content;
  }

  .petitboutonburger{
    width: auto;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: color 0.3s;
    font-family: "IBM Plex Mono", monospace;
    margin: 0rem 0px -0.5rem 0px;
    padding: 0;
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .barredansburger{
    background-color: rgb(255, 255, 255);
    height: 0.1rem;
    margin: 2rem 0px;
    width: 50%;
  }
  
  .menu-burger-overlay a:hover {
    color: #ffffff;
  }
  
  /* Activer le menu burger */
  .menu-burger-overlay.active {
    transform: translateX(0); /* Réapparaît à l'écran */
  }
  
  /* Animation du bouton burger actif */
  .iconburger.active .barreburger:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: #acacac;
    opacity: 1;
  }
  
  .iconburger.active .barreburger:nth-child(2) {
    opacity: 0;
  }
  
  .iconburger.active .barreburger:nth-child(3) {
    background-color: #acacac;
    transform: translateY(-10px) rotate(-45deg);
    opacity: 1;
  }

  .boutonprojetsburger{
    height: 80vh;
  }
  .boutonprojetsburger img{
    height: 80vh;
  }
  .boutonprojetsburger a{
    height: 80vh;
  }

  .project-panelburger {
    width: 40%;
    position: relative;
    overflow: hidden;
    transition:1s ease-in-out;
    border-radius: 15px;
    display: flex;
    max-height: 75vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.project-panelburger:hover div.petitbouton{
    opacity: 1;
    scale: 1;
    top: 0;
    left: 0;
    padding: 15px;
}

  .animated-text {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    position: relative;
  }
  
  .animated-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
  }

  .animated-text span {
    display: inline-block;
    opacity: 0;
    animation: textChange 0.3s steps(5, end) infinite;
  }
  
  @keyframes textChange {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .menu-burger-overlay a:hover{
        scale: 1;
        opacity: 1;
      }
      .menu-burger-overlay a{
        opacity: 1;
      }

      .project-panelburger {
        width: 40%;
        position: relative;
        overflow: hidden;
        transition:1s ease-in-out;
        border-radius: 15px;
        display: none;
        max-height: 75vh;
        object-fit: cover;
        margin: 0;
        padding: 0;
    
    }
    .menu-burger-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.856); /* Couleur de fond avec opacité */
        display: flex;
        justify-content:center;
        flex-direction: row;
        align-items: center;
        transform: translateY(-100%); /* Masqué hors de l'écran */
        transition: transform 0.5s ease;
        z-index: 9;
        overflow: hidden;
        padding-top: 50px;
        padding-inline: 10%;
      }
      .burgertout{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        list-style: none;
        margin: 0;
        width: 100%;
      }
    
      
  }
  