:root {

    /* COULEURS */
    --backgroundaccueil: #f9f9f4;
    --backgroundproject: #f9f9f4;
    --greymouvaplan: rgb(237, 235, 229);
    --gradient-black-to-white: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.6));
    --soulignage: #9bee68;
    --vertmarque: #9bee68;
    --vertmarquedeux: #1b3a1d;
    --troisd: #e7a026;
    --motion: #ae319e;
    --print: #e84343;
    --chara: rgb(67, 160, 155);
    --colorbuttonnavold: #ffffff32;
    --colorbuttonnav: rgba(0, 0, 0, 0);
    --colorbuttonnavindex: rgb(0, 0, 0);
    --textbuttonnav: #ffffff;

    /* ANGLES */
    --anglesprojets: 15px;
    --anglesindex: 15px;
    --anglebouton: 7px;

    /* MARGE COTÉ  */
    --espacecote: 40px;
    --gapimage: 20px;
    --espacecoteexplication: 15%;
    --espacetopexplication: 5%;

    /* police  */
    --ibm: "IBM Plex Mono", monospace;

    /* taille  */
    --scalelogonav: 35px;

}