:root {

    /* COULEURS */
    --couleurfaq: var(--greymouvaplan);
}


.faq-container {
    width: 100%;
    margin: 0 auto;
    padding-inline: calc(var(--espacecote) + 5vw);
    padding-bottom: 6rem;
    font-family: var(--ibm);
}

.faq-header {
    text-align: center;
    margin-bottom: 50px;
}

.faq-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000;
}

.faq-header p {
    font-size: 1.1rem;
    color: #666;
}

.faq-list {
    padding-top: 1rem;

}

.faq-item {
    background: var(--backgroundaccueil);
    border-radius: var(--anglesindex);
    margin-bottom: var(--gapimage);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.faq-item:hover {
    transform: translateY(0px);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 30px;
    cursor: pointer;
    user-select: none;
    background: var(--couleurfaq);
    position: relative;
    overflow: hidden;
    transition: background 0s ease;
}

.faq-question::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--vertmarque);
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 0;
    pointer-events: none;
}

.faq-question:hover::before {
    opacity: 1;
}

.faq-item.active .faq-question {
    background: var(--vertmarque);
}

.faq-item.active {
    background: var(--backgroundaccueil);
}

.faq-item.active .faq-question::before {
    opacity: 0;
}

.faq-question h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    flex: 1;
    margin-right: 20px;
    text-transform: uppercase;
    transition: color 0.4s ease, transform 0.4s ease;
    position: relative;
    z-index: 1;
}

.faq-item.active .faq-question h3 {
    color: #000000;
    transform: translateX(3px);
}

.faq-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.faq-icon::before {
    content: '+';
    color:black;
    font-size: 2.5rem;
    font-weight: 200;
    transition: color 0.4s ease;
}

.faq-item.active .faq-icon::before {
    color: #000000;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

.faq-answer {
    max-height: 0;
    background-color: var(--vertmarque);
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item.active .faq-answer {
    max-height: 500px;
}

.faq-answer-content {
    padding: 0px 30px 25px 30px;
    color: #000000;
    line-height: 1.5;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}