@import url(color.css);

section.latestprojectstitre {
    background-color: var(--backgroundaccueil);
}

.latestprojectstitre {
    background-color: #000000;
    color: #ffffff;
    place-items: center;
    padding: 80px 0px 60px 0px;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.latestprojects h1 {
    font-size: 2.5rem;
    color: #000000;
}

.projects-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
    justify-content: center; /* Centre les panneaux */
    background-color: var(--backgroundaccueil);
    height: auto;
    gap: 30px;
    padding-inline: 5%;
    padding-top: 1vh;
    
}

.project-panel {
    width: calc(100% / 2 - 15px); /* Mettre à 30% de la largeur du conteneur */
    overflow: hidden;
    transition:1s ease;
    scale: 1;
    border-radius: 15px;
    display: flex;
    justify-items: center;
    align-items: center;
    max-height: 75vh;
    object-fit: cover;
}

#dernierprojet{
    width: 100%;
    justify-content: center;
    align-content: center;
}
#dernierprojet .project-image {
    position: relative;
    height: 100%;
}   


.titre{
    display: flex;
    justify-items: center;
    align-items: center;

}
.titre img{
    height: 2rem;
    margin-left: 1rem;
}

#projettrente{
    width: calc(100% / 3 - 20px);
}

.project-image {
    width: 100%;
    object-fit: cover;
    transition: 1s ease;
    position: relative;
    display: flex;
    overflow: hidden;
    filter: brightness(85%);
}   

.project-image:hover {
    filter: brightness(100%);
    scale: 1.1;
}

.project-panel:hover div.petitbouton{
    opacity: 1;
    scale: 1;
    top: 0;
    left: 0;
    padding: 15px;
}

.petitbouton{
    display: flex;
    padding: 30px;
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    gap:15px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none; 
}

.infoprojets{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 28.5px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;

}

.infoprojets H1{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}
.infoprojets p{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .projects-section {
        display: flex;
        flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
        align-items: center;
        flex-shrink: 2;
        gap: 2rem;

    }
    .projects-section img {
        width: 100%;
        object-fit: cover;
        scale: 1.1;

    }
    .project-panel {
        width: 100%; /* Mettre à 30% de la largeur du conteneur */
        display: flex;
    }
    .petitbouton{
        display: flex;
        padding: 1rem;
        position: absolute;
        flex-direction: row;
        top: 0;
        left: 0;
        gap:15px;
        z-index: 3; /* Place la vidéo derrière le contenu */
        scale: 1;
        opacity: 1;
        transition: 0.5s ease;
        pointer-events: none; 
    }
    .infoprojets{
        bottom: 15px;
        left: 20px;
        gap: 0px;
    
    }
    .titre img{
        width: 2rem;
        margin: 0px;
        padding: 0px;
        visibility: hidden;
    }
    .infoprojets H1{
        font-size: 2rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .infoprojets p{
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

}