@import url(color.css);

section.latestprojectstitre {
    background-color: var(--backgroundaccueil);
    display: inline;
}

.latestprojectstitre {
    background-color: #000000;
    color: #ffffff;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.latestprojects h1 {
    font-size: 2.5rem;
    color: #000000;
    padding-bottom: 80px;
    padding-top: 80px;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--backgroundaccueil);
    gap: 30px;
    padding: 5% 5% 30px 5%;
    padding-top: 1vh;
    overflow: hidden;
}

.project-panel {
    width: calc(50% - 15px); /* Mettre à 30% de la largeur du conteneur */
    position: relative;
    overflow: hidden;
    transition:1s ease-in-out;
    border-radius: 15px;
    display: flex;
    max-height: 75vh;
    object-fit: cover;
}

.project-panel1 {
    width: 100%; /* Mettre à 30% de la largeur du conteneur */
    position: relative;
    overflow: hidden;
    transition:1s ease-in-out;
    border-radius: 15px;
    display: flex;
    max-height: 75vh;
    object-fit: cover;
}

/* Image principale du projet */

.titre{
    display: flex;
    justify-items: center;
    align-items: center;

}
.titre img{
    height: 2rem;
    margin-left: 1rem;
}

.project-image {    
    width: 100%;
    object-fit: cover;
    transition: 1s ease;
    position: relative;
    display: flex;
    filter: brightness(85%);
}   

.project-image:hover {
    filter: brightness(100%);
    scale: 1.1;
}

.project-panel:hover div.petitbouton{
    opacity: 1;
    scale: 1;
    top: 0;
    left: 0;
    padding: 15px;
}

.project-panel1:hover div.petitbouton{
    opacity: 1;
    scale: 1;
    top: 0;
    left: 0;
    padding: 15px;
}

.petitbouton{
    display: flex;
    padding: 30px;
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    gap:15px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none; 
    flex-wrap: wrap; 
}

.infoprojets{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 28.5px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;

}

.infoprojets H1{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}
.infoprojets p{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.titreprojet img{
    width: 2rem;
}

.titreprojet {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


@media (max-width: 768px) {

    .infoprojets H1{
        font-size: 2.5rem;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }
    .projects-section {
        display: flex;
        flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
        align-items: center;
        flex-shrink: 2;
        gap: 2rem;

    }
    .projects-section img {
        width: 100%;
        object-fit: cover;
        scale: 1.1;

    }
    .project-panel {
        width: 100%; /* Mettre à 30% de la largeur du conteneur */
        display: flex;

        
    }

    .project-panel1 img{
        width: 100%; /* Mettre à 30% de la largeur du conteneur */
        height: 500px;
        display: flex;
    }

    .project-panel1{
    }

    .petitbouton{
        display: flex;
        padding: 1rem;
        position: absolute;
        flex-direction: row;
        top: 0;
        left: 0;
        gap:15px;
        z-index: 3; /* Place la vidéo derrière le contenu */
        scale: 1;
        opacity: 1;
        transition: 0.5s ease;
        pointer-events: none;
        align-items: center;
    }
    .infoprojets{
        bottom: 15px;
        left: 20px;
        gap: 0px;
    }
    .titreprojet img{
        width: 1rem;
        margin: 0px;
        padding: 0px;
        display: none;
    }
    .titreprojet{
        white-space: normal;
        gap: 1rem;
        
    }
    .infoprojets H1{
        font-size: 2rem;
        padding: 0;
        margin: 0;
        white-space: normal;
    }
    .infoprojets p{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        text-transform: uppercase;
    }
    

}