
/*Meteo*/
/* Mise à jour du CSS */
.tri-images {
    display: flex;
    gap: 2%;
    justify-content: center;
    padding: 30px;
}

.tri-images img {
    position: relative;
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
    scale: 1;
    border-radius: 27px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
}

#fondmeteo {
    transition: background-image 0.6s ease-in-out;
    background-size: cover;
    background-position: center;
}

.tri-images img:hover {
    transform: scale(1.03); /* Agrandit l'image à 102% au survol */
    z-index: 99;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.339);

}

.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 40px;
    gap: 40px;
    background-image: url(./../public/image/mouvaplan/ciel2.jpg); /* Fond par défaut */
}

.text-meteo {
    width: 50%;
}

.text-meteo  p{
    color: rgba(0, 0, 0, 0.495);
}

.texteexplicatifmeteo {
    max-width: 100%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1rem;
}
