@import url('police.css');
@import url('color.css');

html {
    font-size: 16px;
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacquarda Bastarda 9", serif;

}

p{
    text-align: justify;
    font-family: "IBM Plex Mono", monospace; 
    line-height: 1.5;
    font-size: 1rem;
}

.surligne{
    font-family: "IBM Plex Mono", monospace; 
    background-color: #FFBC21;
    max-width: 100%; /* Limite la largeur de l'explication si besoin */
    text-align: justify;
    line-height: 1.5; /* Augmente l'espacement entre les lignes */
    max-width: 610px; /* Limite la largeur du pavé pour une meilleure lisibilité */
    margin-bottom: -30px;
    font-size: 1rem;
}

.top-page {
    display:flex;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    max-height: 1200px;
}

.entete img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit l'écran sans déformer la vidéo */
    z-index: -1; /* Place la vidéo derrière le contenu */
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-project{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    gap:2px;
    margin-left: 40px;
}

.navbar-project span{
    font-family: "IBM Plex Mono", monospace;
    display: flex; /* Pour aligner les éléments horizontalement */
    align-items: center; /* Pour centrer verticalement */
}

.navbar-project img{
    height: 1.7rem;
    padding-left: 1rem;
    margin: 0;
}

.navbar-project h3{
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.7rem;
}

.navbar-client {
    font-family: "IBM Plex Mono", monospace;
    display: flex; /* Pour aligner les éléments horizontalement */
    align-items: center; /* Pour centrer verticalement */
}

.navbar-client span {
    font-family: "IBM Plex Mono", monospace;
    margin: 0; /* Supprime les marges par défaut */
}

.navbar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #000000a3;
    padding: 0 1.5rem;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 100000;
    color: white;
    cursor: default;
}

.social-contact {
    display: flex;
    align-items: center;
    /*margin-right: 1rem;*/
    gap: 15px;
}

.button-insta img {
    height: 30px;
    margin-top: 4px;
    transition: transform 0.2s ease;
}

.button-insta:hover img {
    transform: scale(1.08);
}


.navbar-button-logo img {
    margin-top: 4px;
    width: 35px;
}
.navbar-button {
    height: 30px;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: #ffffff32;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 7px;
    outline: none;
    transition: background-color 0.7s ease-in-out; 
    transition: color 0.1s ease-in-out; 
    transition: transform 0.2s ease;
    text-transform: uppercase;
    white-space: nowrap;
}


.navbar-button p{
    position: relative;
    margin: 0;
    padding: 0;
}

.navbar-button:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: #ffffff84;

}
.navbar-button:hover p{
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

li {
    list-style: none;
}

a:hover {
    color: #d8f4ff;
}

.language-button {
    width: 50px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

#switch-lang{
    font-weight: bold;
}

.barre-verticale {
    width: 2px; /* Largeur de la barre */
    height: 25px; /* Hauteur de la barre */
    background-color: #ffffff; /* Couleur de la barre */
    margin-inline: 10px; /* Espacement autour de la barre */
}

@media (max-width: 768px) {
    
    .barre-verticale {
        display: none;
    }
    .navbar-left span {
        display: none;
    }
    .navbar-project h3{
        display:  none;
    }
}
