@import url('police.css');
@import url('color.css');

html {
    font-size: 16px;
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacquarda Bastarda 9", serif;

}


p {
    text-align: justify;
    font-family: var(--ibm);
    line-height: 1.5;
    font-size: 1rem;
}

.surligne {
    font-family: var(--ibm);
    max-width: 100%;
    /* Limite la largeur de l'explication si besoin */
    text-align: justify;
    line-height: 1.5;
    /* Augmente l'espacement entre les lignes */
    max-width: 610px;
    /* Limite la largeur du pavé pour une meilleure lisibilité */
    margin-bottom: -30px;
    font-size: 1rem;
}

.entete {
    height: 100vh;
    z-index: -1;
    filter: brightness(0.9);
}

.top-page {
    display: flex;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.top-page video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplit l'écran sans déformer la vidéo */
    z-index: -1;
    /* Place la vidéo derrière le contenu */
    display: hidden;
}

.entete img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplit l'écran sans déformer la vidéo */
    z-index: -1;
    /* Place la vidéo derrière le contenu */
}

.entete video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplit l'écran sans déformer la vidéo */
    z-index: -1;
    /* Place la vidéo derrière le contenu */
}

/* ===== NAVBAR ===== */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: var(--ibm);
    background-color: var(--backgroundaccueil);
    /* Tu peux changer la couleur ici */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-inline: var(--espacecote);
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000;

    /* Animation pour montrer/cacher */
    transition: transform 0.5s ease;
}

.social-contact {
    padding: 0px;
    margin: 0px;
    opacity: 1;
    scale: 1;
    display: flex;
    justify-items: right;
    width: fit-content;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 2rem;
    /* Commence au-dessus et petit */
    transition: 0.3s ease-in-out;
    pointer-events: auto;
    font-family: var(--ibm);
    height: fit-content;
    transform: translateY(calc(0.2rem));
}

#navbar img {
    height: var(--scalelogonav);
    padding: 0px;
    margin: 0px;
    transform: translateY(calc(0.2rem));
}

.navbar-button {
    opacity: 1;
    height: 30px;
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-family: var(--ibm);
    color: black;

    border-radius: var(--anglebouton);
    outline: none;
    transition: background-color 0.7s ease-in-out;
    transition: color 0.1s ease-in-out;
    transition: transform 0.2s ease;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;
    /* Empêche la sélection */
    -webkit-user-select: none;
    /* Compatibilité avec Safari */
    -moz-user-select: none;
    /* Compatibilité avec Firefox */
    -ms-user-select: none;
    cursor: pointer;
}

/* Cacher la navbar quand on scroll vers le bas */
#navbar.navbar-hidden {
    transform: translateY(calc(-100% - 1rem));
    pointer-events: none;
}



/* Navigation */
#navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

#navbar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease;
}

.underline-hover {
    position: relative;
    display: inline-block;
    overflow: hidden;

    opacity: 1;
    padding: 0px;
    border-radius: 0px;
    gap: 5px;
    font-size: 1rem;
    font-family: var(--ibm);
    color: var(--colorbuttonnavindex);
    transition: background-color 0.7s ease-in-out;
    transition: color 0.1s ease-in-out;
    transition: transform 0.2s ease;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;
    /* Empêche la sélection */
    -webkit-user-select: none;
    /* Compatibilité avec Safari */
    -moz-user-select: none;
    /* Compatibilité avec Firefox */
    -ms-user-select: none;
    cursor: pointer;
}

.underline-hover span {
    color: var(--colorbuttonnavindex);
    font-family: var(--ibm);
    position: relative;
    z-index: 1;
    height: 1.5px;
}

.underline-hover::after {
    content: "";
    color: var(--colorbuttonnavindex);
    position: absolute;
    bottom: calc(1rem - 10px);
    left: 0;
    height: 1.5px;
    width: 100%;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: 0;
}

.underline-hover:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.langButton {
    width: fit-content;
    opacity: 1;
    align-items: right;
    justify-content: right;
    flex-direction: row;
    display: flex;
    gap: 1.5rem;
    font-size: 2rem;
    font-family: var(--ibm);
    color: var(--textbuttonnav);
    padding: 0px;
    outline: none;
    transition: background-color 0.7s ease-in-out;
    transition: color 0.1s ease-in-out;
    transition: transform 0.2s ease;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;
    /* Empêche la sélection */
    -webkit-user-select: none;
    /* Compatibilité avec Safari */
    -moz-user-select: none;
    /* Compatibilité avec Firefox */
    -ms-user-select: none;
    cursor: pointer;
}

.currentlangnavindex {
    font-size: 1rem;
    font-family: var(--ibm);
    color: black;
    font-weight: bold;
}

.otherlangnavindex:hover {
    opacity: 1;
}

.otherlangnavindex {
    font-size: 1rem;
    opacity: 0.3;
    font-family: var(--ibm);
    color: black;
    transition: 0.25s ease;
    font-weight: bold;
}

.currentlangnav {
    font-size: 1rem;
    font-family: var(--ibm);
    color: var(--textbuttonnav);
}

.otherlangnav:hover {
    opacity: 1;
}

.otherlangnav {
    font-size: 1rem;
    opacity: 0.3;
    font-family: var(--ibm);
    color: var(--textbuttonnav);
    transition: 0.25s ease;
}

.langButton p {
    position: relative;
    margin: 0;
    padding: 0;
}

.langButton:hover {
    color: #ffffff;
}

.langButtonproject:hover {
    color: #ffffff;
}

.navbar-button p {
    position: relative;
    margin: 0;
    padding: 0;
}

.navbar-button:hover {
    color: #000000;

}

.iconburger {
    z-index: 1000000000000000000000000000000000000000000000;
    position: relative;
    display: none;
    background-color: #ff000000;
    height: 20px;
    width: 30px;
    z-index: 80000000;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    border: none;
    scale: 1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: translateY(calc(0.1rem));
}

.iconburger:hover {
    scale: 1.05;

}

.iconburger:hover .barreburger {
    background-color: #000000;
}

.barreburger {
    width: 100%;
    border-radius: 50px;
    height: 1px;
    background-color: black;
    transition: 0.3s ease-in-out;
    mix-blend-mode: overlay;
}

@media (max-width: 768px) {
    .iconburger {
        width: 25px;
        height: 20px;
        display: flex;
    }

    .barreburger {
        height: 2px;
    }

    .iconburger {
        transform: translateY(calc(-0.1rem));
    }

    .langButton {
        display: none;
    }

    .navbar-button {
        display: none;
    }
}