h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    
}

@font-face {
    font-family: 'Gruno Trial'; /* Nom que tu veux donner à la police */
    src: url('../../policesolices/Gruno Trial.otf') format('opentype'); /* Chemin vers le fichier de police */
    font-weight: normal; /* Poids normal */
    font-style: normal; /* Style normal */
}

@font-face {
    font-family: 'Inter'; /* Nom que tu veux donner à la police */
    src: url('../../policesolices/Inter_28pt-Regular.ttf') format('truetype'); /* Chemin vers le fichier de police */
    font-weight: normal; /* Poids normal */
    font-style: normal; /* Style normal */
}

@font-face {
    font-family: 'EricaOne-Regular'; /* Nom que tu veux donner à la police */
    src: url('../../policesolices/EricaOne-Regular.ttf') format('truetype'); /* Chemin vers le fichier de police */
    font-weight: normal; /* Poids normal */
    font-style: normal; /* Style normal */
}

@font-face {
    font-family: 'Inter'; /* Nom de la même police */
    src: url('../../policesolices/Inter_28pt-Black.ttf') format('truetype'); /* Chemin vers le fichier de police black */
    font-weight: bold; /* Indique que c'est une police en gras (ou black) */
    font-style: normal; /* Style normal */
}

@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

@keyframes textFadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}