.split-char {
    display: inline-block;
    opacity: 0;
    transform: translateY(40px);
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    will-change: opacity, transform;
}

.split-in-view .split-char {
    opacity: 1;
    transform: translateY(0);
}
