html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacquarda Bastarda 9", serif;

}
/*image de fond*/

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    
}

section.top-page {
    background-color: #000000;
    background: url('../video/Trailer\ KAIZEN\ Everest.mp4');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}


/* menu de navigation*/

.top-page video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit l'écran sans déformer la vidéo */
    z-index: -1; /* Place la vidéo derrière le contenu */
}

.logo {
    display: flex;
    align-items: center;

}

.link.boutonvoir {
    margin: 15px;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: #a6ff0000;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    outline: none;
    border: 3px solid rgb(255, 255, 255);
}

.link.boutonvoir:hover {
    color: #434343; /* Couleur du texte au survol */
    background-color: #ffffff; /* Couleur de fond au survol */
}


.navbar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #000000a3;
    padding: 1.5rem;
    padding-right: 1rem;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.social-contact {
    display: flex;
    align-items: center;
}

.insta img {
    height: 40px;
    margin-right: 10px; /* Espace entre l'icône Instagram et le bouton */
    padding: 5px 15px;
    margin-top: 4px;
}


.petitlogo img {
    margin-top: 4px;
    width: 35px;
    margin-right: 60px;

}
.boutonmecontacter {
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: #a6ff0000;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    outline: none;
    border: 3px solid rgb(255, 255, 255);
    transition: background-color 0.5s ease; 
    transition: color 0.5s ease; 
}

.boutonmecontacter:hover {
    color: #434343;
    background-color: #ffffff;

}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

li {
    list-style: none;
}

a:hover{
    color: #d8f4ff;
}

/*gros logo*/
.logo-grand img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    display: flex;
    place-items: center;
}

/*_____*/
section.latestprojectstitre {
    background-color: #000000;
}

.latestprojectstitre {
    color: #ffffff;
    place-items: center;
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.latestprojects h1 {
    font-size: 3rem;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}

.projects-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
    justify-content: center; /* Centre les panneaux */
    background-color: #000000;
    height: auto;
    margin: -4px;
    
}

.project-info {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    align-items: center; /* Centre verticalement le contenu */
    size: 30%;

}

h3 {
    font-size: 25px;
    text-transform: uppercase; /* Met le texte en majuscules */
    color: #ffffff; /* Couleur du titre du projet */
    font-family: "IBM Plex Mono", monospace;
}

.prestataire {
    display: flex; /* Utilise flexbox pour aligner la barre et le texte */
    align-items: center; /* Centre verticalement le contenu */
}

.barre-verticale {
    margin: 0px 10px;
    width: 2px; /* Largeur de la barre */
    height: 20px; /* Hauteur de la barre */
    background-color: #ffffff; /* Couleur de la barre */
}

.prestataire span {
    font-size: 17px; /* Taille de la police pour le nom du prestataire */
    color: #ffffff; /* Couleur du texte du prestataire */
    font-family: "IBM Plex Mono", monospace;
}

.project-panel {
    position: relative;
    margin: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%; /* Mettre à 30% de la largeur du conteneur */
    overflow: hidden;
    opacity: 0.9; /* Opacité réduite par défaut */
    transition: opacity 0.3s ease; 
}

.project-image {
    width: 100%; /* Largeur à 100% du conteneur */
    height: 240px; /* Hauteur fixée pour créer un carré */
    object-fit: cover;
    filter: grayscale(80%) contrast(0.5) ; /* Applique le noir et blanc */
    transition: filter 0.5s ease;
    transition: padding 0.5s ease;

}

.project-image:hover {
    filter: grayscale(0%) contrast(1); /* Applique le noir et blanc */
    padding: 7px;
}

.project-panel:hover {
    opacity: 1; /* Opacité à 100% quand on survole la section */
}

.project-panel:hover h3 {
    transition: color 0.5s ease; /* Ajoute une transition fluide */
}

.project-panel:hover span{
    color: #ffffff; /* Change la couleur du titre quand on survole l'image */
    transition: color 0.3s ease; /* Ajoute une transition fluide */
}

.project-panel:hover .barre-verticale{
    background-color: #ffffff; /* La barre devient blanche au survol */
    transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur */
}



/*------------------------------

/* Section des compétences */
.skills-section {

    background-color: #000000; /* Couleur de fond de la section */
    height: auto;
    padding-bottom: 70px;
}

/* Titre de la section */
.skills-section h2 {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

/* Liste des compétences */
.skills-list {
    list-style-type: none; /* Enlève les puces par défaut */
    padding: 0;
    margin: 0 auto;
    
}

/* Chaque compétence */
.skills-list li {
    color: #ffffff;
    font-size: 20px;
    transform-origin: left;
    padding: 7px 0px; /* Ajoute du padding pour l'espacement interne */
    transition: transform 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: fit-content;
    margin-left: 70px;
}

/* Effet au survol de chaque compétence */
.skills-list li:hover {
    transform: scale(1.05); /* Agrandit légèrement l'élément au survol */
    color: #a6ff00;
    text-decoration: underline;
}

.skills-list li h3 {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    text-transform: lowercase; /* Force les titres à être en minuscule */
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal; /* Enlève le gras */
}

/* Pseudo-élément pour le point */
.skills-list li h3::before {
    content: '';
    font-family: "IBM Plex Mono", monospace;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    background-color: #a6ff00; /* Le point est blanc par défaut */
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease; /* Ajoute la transition de couleur */
    text-decoration: underline; /* Soulignement lors du survol */
}

