.new{
    background-color: rgb(52, 238, 139);
    color:  rgb(31, 148, 85);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "IBM Plex Mono", monospace; 
}

.troisd{
    background-color: rgb(231, 160, 38);
    color: rgb(138, 100, 24);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "IBM Plex Mono", monospace; 
}

.uiux{
    background-color: rgb(38, 86, 231);
    color: rgb(24, 43, 138);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "IBM Plex Mono", monospace; 
}

.da{
    background-color: rgb(231, 38, 205);
    color: rgb(138, 24, 132);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "IBM Plex Mono", monospace; 
}

.enbasbadge{
    display: flex;
    position: absolute;
    bottom: -15px;
    left: 50px;
    gap: 10px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 1;
    transition: 0.3s ease;
    pointer-events: none; 
}