.footerprojects {
    position: relative;
    width: 100%;
    background: var(--gradient-black-to-white);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
  }

.footer{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    background-color: black;
  }

  .footerinformation{
    bottom: 0px;
    position: absolute;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    background-color: black;
  }

  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon1 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    display: inline-block;
    transition: 0.3s;
    font-family: "IBM Plex Mono", monospace;
    margin-inline: 35px;
    background-color: rgba(0, 0, 0, 0.23);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-inline: 15px;
    border-radius: 11px;
    opacity: 1;
  }
  
  .menu-icon1:hover {
    opacity: 1;
    color: rgb(0, 0, 0);
    scale: 1.05;
    background-color: rgb(255, 255, 255);
  }
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size:1rem;
  }