section.latestprojectstitre {
    background-color: var(--backgroundaccueil);
}

.latestprojectstitre {
    background-color: #000000;
    color: #ffffff;
    place-items: center;
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projects-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
    justify-content: center; /* Centre les panneaux */
    background-color: var(--backgroundaccueil);
    height: auto;
    
}

.project-panel {
    position: relative;
    margin-inline: 2px;
    gap: 2px;
    width: 30%; /* Mettre à 30% de la largeur du conteneur */
    overflow: hidden;
    transition:0.3s ease;
}

.project-image {
    width: 100%; /* Largeur à 100% du conteneur */
    height: 300px; /* Hauteur fixée pour créer un carré */
    object-fit: cover;
    filter: grayscale(100%) contrast(0.5) ; /* Applique le noir et blanc */
    transition: 0.4s ease;
}   


.project-image:hover {
    filter: grayscale(0%) contrast(1) ; /* Applique le noir et blanc */
    padding: 10px;

}

.project-panel:hover div.petitbouton{
    opacity: 1;
    scale: 0.9;
    top: 20px;
    left: 15px;
}

.petitbouton{
    display: flex;
    position: absolute;
    top: 30px;
    left: 25px;
    gap: 10px;
    z-index: 1000; /* Place la vidéo derrière le contenu */
    scale: 0;
    opacity: 0;
    transition: 0.3s ease;
}

@media (max-width: 768px) {
    .projects-section {
        display: flex;
        flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
        align-items: center;
        flex-shrink: 2;

    }
    .projects-section img {
        width: 100%;
        filter: grayscale(0%) contrast(1) ; /* Applique le noir et blanc */
        height: 150px;
        margin-bottom: 5px;

    }
    .project-panel {
        width: 40%; /* Mettre à 30% de la largeur du conteneur */
    }

}