.projects-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
    justify-content: center; /* Centre les panneaux */
    background-color: var(--backgroundaccueil);
    height: auto;
    
}

.project-panel {
    position: relative;
    margin-inline: 2px;
    gap: 2px;
    width: 30%; /* Mettre à 30% de la largeur du conteneur */
    overflow: hidden;
    transition:0.3s ease;
}

.project-image {
    width: 100%; /* Largeur à 100% du conteneur */
    height: 300px; /* Hauteur fixée pour créer un carré */
    object-fit: cover;
    filter: grayscale(100%) contrast(0.5) ; /* Applique le noir et blanc */
}

.project-image img{
    filter: grayscale(100%) contrast(1) ; /* Applique le noir et blanc */
}


.project-image:hover {
    filter:contrast(100%) contrast(1); /* Applique le noir et blanc */
    filter: grayscale(%);
    transition: 0.5s ease;
    padding: 4px;
    filter: grayscale(0%) contrast(1) ; /* Applique le noir et blanc */
}

@media (max-width: 768px) {
    .projects-section {
        display: flex;
        flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
        align-items: center;
        flex-shrink: 2;

    }
    .projects-section img {
        width: 100%;
        filter: grayscale(0%) contrast(1) ; /* Applique le noir et blanc */
        height: 150px;
        margin-bottom: 5px;

    }
    .project-panel {
        width: 40%; /* Mettre à 30% de la largeur du conteneur */
    }

}