@import url('police.css');
@import url('color.css');

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

li {
    list-style: none;
}

a:hover {
    color: #d8f4ff;
}

.top-page {
    display:flex;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.entete img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit l'écran sans déformer la vidéo */
    z-index: -1; /* Place la vidéo derrière le contenu */
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-project h3{
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.7rem;
    margin-left: 65px;
}

.navbar-client {
    font-family: "IBM Plex Mono", monospace;
    display: flex; /* Pour aligner les éléments horizontalement */
    align-items: center; /* Pour centrer verticalement */
}

.navbar-client span {
    font-family: "IBM Plex Mono", monospace;
    margin: 0; /* Supprime les marges par défaut */
    margin-right: 1.2rem;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #000000a3;
    padding: 0 1.5rem;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    color: white;
}

.navbar ::selection {
    background-color: #ffffff4e; /* Couleur de surlignage (jaune doré) */
}

.social-contact {
    display: flex;
    align-items: center;
    /*margin-right: 1rem;*/
    gap: 25px;
}

.button-insta img {
    height: 30px;
    margin-top: 4px;
}


.navbar-button-logo img {
    margin-top: 4px;
    width: 35px;
}
.navbar-button {
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: #a6ff0000;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    outline: none;
    border: 3px solid rgb(255, 255, 255);
    transition: background-color 0.7s ease-in-out; 
    transition: color 0.1s ease-in-out; 
}

.navbar-button:hover {
    color: #434343;
    background-color: #ffffff;

}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

li {
    list-style: none;
}

a:hover {
    color: #d8f4ff;
}

.barre-verticale {
    width: 2px; /* Largeur de la barre */
    height: 25px; /* Hauteur de la barre */
    background-color: #ffffff; /* Couleur de la barre */
    margin-inline: 10px; /* Espacement autour de la barre */
}

@media (max-width: 768px) {
    .navbar-client {
            visibility: hidden;
    }
    
    .navbar-client span {
        visibility: hidden;
    }
    .navbar-project h3{
        visibility: hidden;
    }
}

