@import url(./../../css/outils/color.css);

.profil{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;  
    padding-top: 200px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 0px;
}


.caseprofil {
    background-color:rgb(33, 33, 33);
    background-size: cover;
    width: 850px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    padding: 20px;
    gap: 20px;
    scale: 0.85;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
    
}

.mention{
    background-color:rgb(33, 33, 33);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    padding: 20px;
    gap: 20px;
    scale: 0.85;
    transition: transform 0.3s ease;
    overflow: hidden;
    top: -20px;
    position: relative;
}

.mention p{
    padding: 0;
    margin: 0;
}

.caseprofil:hover{
    transform: scale(1.02);
  }

.profilhaut{
    display: flex;
    justify-content: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profilhaut li{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.561);
}

.badgesprofil{
    justify-content: flex;
    display: flex;
    gap: 10px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 1;
    pointer-events: none;
}

.caseprofil, .caseprofil * {
    user-select: none;
  }

.profilbas{
    justify-content: flex-end;
}

.profilbas p{
    line-height: 1; /* Augmente l'espacement entre les lignes */
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    text-align:inherit;
    pointer-events: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

}

.profilbas h2{
    line-height: 1.5; /* Augmente l'espacement entre les lignes */
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.profilgauche{
    background-image: url('./../../image/101_0153-2.jpg');
    background-size: cover;
    background-position-x: -150px;
    width: 450px;
    border-radius: 5px;
}

.profildroit{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}