@import url(./../../css/outils/color.css);

.profil{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;  
    padding-top: 200px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 0px;
}


.caseprofil {
    background-color:rgb(33, 33, 33);
    background-size: cover;
    width: 900px;
    height: 520px;
    border-radius: 25px;
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    scale: 0.85;
    transition: transform 0.3s ease;
    position: relative;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.293);
}

.mention{
    background-color:rgb(33, 33, 33);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    padding: 15px;
    padding-inline: 25px;
    bottom: -30px;
    left: 140px;
    gap: 20px;
    scale: 1;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.293);
    z-index: 1000;
}


.mention p{
    padding: 0;
    margin: 0;
}

.profilhaut{
    display: flex;
    justify-content: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.badgesprofil{
    justify-content: flex;
    display: flex;
    gap: 10px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 1;
    pointer-events: none;
}

.profilbas{
    display: flex;
    flex-direction: column;
}

.profilbas p{
    line-height: 1; /* Augmente l'espacement entre les lignes */
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    text-align:inherit;
    pointer-events: none;
    animation: blink-cursor 0.7s step-end infinite;
    white-space: pre-line; /* Préserve les retours à la ligne */
}


/* Animation du curseur clignotant */
@keyframes blink-cursor {
    50% {
        border-color: transparent;
    }
}


.profilbas h2{
    font-size: 2rem;
}

.profilgauche{
    background-image: url('./../../image/101_0153-2.jpg');
    background-size: cover;
    width: 450px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.profildroit{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

@media (max-width: 768px) {
    .caseprofil {
        background-color:rgb(33, 33, 33);
        background-size: cover;
        width: 900px;
        height: 540px;
        border-radius: 25px;
        display: flex;
        border-style:solid;
        border-width: 2px;
        border-color: rgb(98, 98, 98);
        scale: 0.4;
        transition: transform 0.3s ease;
        position: relative;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.293);
    }

}