@import url(./../../css/outils/color.css);

.profil{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;  
    padding-top: 200px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 0px;
}

.profilinformation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}

.caseprofil {
    background-image: url('./../../image/tete.png');
    background-size: cover;
    background-position: -50px;
    width: 850px;
    border-radius: 25px;
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    transition: transform 0.3s ease;
    position: relative;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.24);
    z-index: 2;
}

.mention{
    background-color: rgb(23, 23, 23);
    backdrop-filter: blur(0px);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    padding: 15px;
    padding-inline: 25px;
    position: absolute;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.24);
    justify-content: center;
    z-index: 10;  
    left: calc(50% - 275px);   
    right:  calc(50% - 275px);       /* Placer la div au milieu horizontalement */
    bottom: -30px;                /* Placer la div en bas de la page */
}


.mention p{
    padding: 0;
    margin: 0;
}

.profilhaut{
    display: flex;
    justify-content: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.badgesprofil{
    justify-content: flex;
    display: flex;
    gap: 10px;
    z-index: 3; /* Place la vidéo derrière le contenu */
    scale: 1;
    opacity: 1;
    pointer-events: none;
}

.profilbas{
    display: flex;
    flex-direction: column;
}

.profilbas p{
    line-height: 1; /* Augmente l'espacement entre les lignes */
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    text-align:inherit;
    pointer-events: none;
    animation: blink-cursor 0.7s step-end infinite;
    white-space: pre-line; /* Préserve les retours à la ligne */
}

.profilbas h2{
    font-size: 2rem;
}

.profilgauche{
    width: 350px;
    background-size: cover;

    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.profildroit{
    width: 500px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    background-color: rgba(23, 23, 23, 0.503);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}


@media (max-width: 768px) {
    .caseprofil {
        background-color:rgb(33, 33, 33);
        background-size: cover;
        width: 900px;
        height: 540px;
        border-radius: 25px;
        display: flex;
        border-style:solid;
        border-width: 2px;
        border-color: rgb(98, 98, 98);
        scale: 0.4;
        transition: transform 0.3s ease;
        position: relative;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.293);
    }

}