section.skills {
    background-color: var(--backgroundaccueil);
}

.skills {
    color: #ffffff;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--backgroundaccueil);
    align-items: center;
    gap: 4px;
    padding: 4px;
}

.skills-section {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--backgroundaccueil);
    align-items: center;
    height: auto;
    justify-content: start;
}

.skills-panel {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
    height: 150px;
}

.skills-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(0.5);
    transition: 0.5s ease;
}

.skills-panel:hover .skills-image {
    padding-top: 20px;
    padding-bottom: 20px;
    filter: grayscale(0%) contrast(1);
}

.titre-skills {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2); /* Initialise l'échelle */
    color: rgb(0, 0, 0);
    font-weight: bold;
    opacity: 0; /* Invisible par défaut */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition plus douce */
    z-index: 1;
    pointer-events: none; /* Évite que le survol du texte affecte l'animation de l'image */
}

.skills-panel:hover .titre-skills {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(3); /* Agrandit le texte */
}




@media (max-width: 768px) {
    .projects-section {
        display: flex;
        flex-wrap: wrap; /* Permet aux panneaux de s'enrouler si l'espace est insuffisant */
        align-items: center;
        flex-shrink: 2;

    }
    .projects-section img {
        width: 100%;
        filter: grayscale(0%) contrast(1) ; /* Applique le noir et blanc */
        height: 150px;
        margin-bottom: 5px;

    }
    .project-panel {
        width: 40%; /* Mettre à 30% de la largeur du conteneur */
    }

}