html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: var(--backgroundaccueil);
}

body ::selection {
  background-color: var(--soulignage);
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.body {
  overflow: hidden;
  background: var(--backgroundaccueil);
}

img {
  -webkit-user-select: none;
  /* Pour Chrome, Safari et autres navigateurs basés sur WebKit */
  -moz-user-select: none;
  /* Pour Firefox */
  -ms-user-select: none;
  /* Pour Internet Explorer */
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*image de fond*/

h1 {
  font-size: 3rem;
  padding-top: 4rem;
  color: #000000;
  font-family: var(--ibm);
  cursor: default;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  color: #000000;
  font-family: var(--ibm);
  text-align: justify;
  font-size: 1rem;
  cursor: default;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: var(--ibm);
  font-size: 1rem;
}

li {
  list-style: none;
  cursor: default;
}

body::-webkit-scrollbar {
  display: none;
}

a:hover {
  color: #d8f4ff;
}

b {
  font-weight: bold;
  font-family: var(--ibm);
}

.js-sync-image-container img {
  display: none;
}

.js-sync-image-container img.active {
  display: block;
}

.copied-message {
  display: flex;
  position: fixed;
  top: 120px;
  left: calc(50% - 3.7rem);
  background-color: var(--vertmarque);
  color: var(--vertmarquedeux);
  padding: 5px 10px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  font-family: var(--ibm);
  font-weight: bold;
  display: none;
  /* Caché par défaut */
  z-index: 7;
  animation: zoom 2s ease-in-out;
}


@keyframes zoom {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(1);
  }

  90% {
    transform: scale(1);

  }

  100% {
    transform: scale(0);

  }
}

.touchem {
  height: 1.4rem;
  width: 1.4rem;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  align-items: center;
  font-family: var(--ibm);
  border-width: 1px;
  border-style: solid;
  margin-right: -0.35rem;
  margin-top: 0.05rem;
  opacity: 0.3;
}

.error {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 100000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: var(--ibm);
  gap: 30px;
  padding: 40px;
  display: none;
  overflow: hidden;
}

.error span {
  font-family: var(--ibm);
  text-align: center;
}

.error img {
  width: 10vh;
}

.basdetoppage {
  height: 75px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  transition: opacity 1s ease-in-out;
}

.double-arrow {
  rotate: 180deg;
  width: 30px;
  height: 30px;
  position: relative;
}

.double-arrow::before,
.double-arrow::after {
  border-radius: 50px;
  margin: -0.25px;
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: white;
  transform-origin: top center;
}

.double-arrow::before {
  transform: rotate(45deg);
  left: 50%;
  top: 0;
}

.double-arrow::after {
  transform: rotate(-45deg);
  right: 50%;
  top: 0;
}

.flechedubas {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  animation: push-down 1s infinite alternate;
  opacity: 0.4;
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.flechedubas:hover {
  opacity: 1;

}

.flechedubasinvisible {
  opacity: 0;
  /* L'élément devient complètement transparent */
  pointer-events: none;
  /* Empêche l'interaction lorsque caché */
}

/* Animation push vers le bas */
@keyframes push-down {
  0% {
    transform: translateY(-10px);
    scale: 1;
    opacity: 0.6;
  }

  100% {
    transform: translateY(0px);
    scale: 1;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .error {
    display: none;
    /* Visible uniquement sur mobile */
    overflow: hidden;
  }
}