.information {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    position: relative;
}

::selection {
    background-color: #ffffff23; /* Couleur du fond */
}

/* Pour les navigateurs WebKit (Chrome, Safari) */
::-webkit-selection {
    background-color: #ffffff3b;
}

/* Style pour le conteneur des boutons */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espacement de 20px entre les boutons */
    position: relative;
    align-items: flex-start; /* Aligner les boutons à gauche */
    right: calc(42px);
}


/* Style des boutons */
.copy-button {
    font-family: "IBM Plex Mono", monospace;
    background-color: rgba(23, 23, 23, 0.751);
    border: 2px solid rgb(98, 98, 98);
    padding: 15px;
    padding-right: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.24);
    margin-right: 15px;
    position: relative;
}

.copy-button span{
    font-family: "IBM Plex Mono", monospace;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
/* Effet de survol des boutons */
.copy-button:hover {
    background-color: rgb(98, 98, 98);
    padding-left: 30px;
    margin-right: 0px;
}

/* Style du message "copié" */

@media (max-width: 768px) {
    .profilinformation{
        display: flex;
        flex-direction: column;
    }
    
}