.information {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    position: relative;
}

::selection {
    background-color: #ffffff23; /* Couleur du fond */
}

/* Pour les navigateurs WebKit (Chrome, Safari) */
::-webkit-selection {
    background-color: #ffffff3b;
}

/* Style pour le conteneur des boutons */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: flex-start; /* Aligner les boutons à gauche */
    right: calc(42px);
    height: 50%;
    max-width: 400px;
    z-index: 1;
}

.boutoninfo{
    display: flex;
    flex-direction: column;
    gap:20px;
    
}
.carteinfo{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    margin: 20px 0px 0px 20px;
    border: 0.05px solid rgb(98, 98, 98);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.24);

}


.carteinfo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) invert();
    transition: 0.4s ease;
    pointer-events: none;
}

.carteinfo:hover img{
    scale: 1.1;
}

.lieucarte{
    display: flex;
    flex-direction: column-reverse;
    color: white;
    font-size: 1rem;
    position: absolute;
    padding: 0px 0px 20px 30px;
    bottom:0px;
    left:0px;
    pointer-events: none;
}
.lieucarte h1{
        font-family: "IBM Plex Mono", monospace;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        word-spacing:-0.5rem;

}.lieucarte h2{
        font-family: "IBM Plex Mono", monospace;
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
        padding: 0;
}



/* Style des boutons */
.copy-button {
    font-family: "IBM Plex Mono", monospace;
    background-color: rgb(0, 0, 0);
    border: 0.05px solid rgb(98, 98, 98);
    padding: 15px;
    padding-right: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.24);
    margin-right: 15px;
    position: relative;
}

.copy-button span{
    font-family: "IBM Plex Mono", monospace;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    user-select: none; /* Empêche la sélection */
    -webkit-user-select: none; /* Compatibilité avec Safari */
    -moz-user-select: none; /* Compatibilité avec Firefox */
    -ms-user-select: none; /* Compatibilité avec IE */
}
/* Effet de survol des boutons */
.copy-button:hover {
    background-color: rgb(98, 98, 98);
    padding-left: 30px;
    margin-right: 0px;
}

/* Style du message "copié" */

@media (max-width: 768px) {
    .profilinformation{
        display: flex;
        flex-direction: column;
    }
    
}