@import url('../outils/palettecouleur.css');
@import url('../outils/meteo.css');


.explication{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Sépare les éléments à gauche et à droite *//* Aligne en haut de chaque bloc */
    position: relative;

}

.explication p{
    width: calc(50% - 12.5px);
    margin: 0;
    padding: 0;
}


/* Style de la section principale pour diviser en deux colonnes et arrondir les coins */
.figma-section {
    display: flex;
    width: 100%; /* Largeur totale de la section */
    height: 700px; /* Prend toute la hauteur de l'écran */
    overflow: hidden; /* Cache les débordements pour garder les coins arrondis */
}

/* Partie gauche avec l'image */
.figma-image-side {
    flex: 2; /* Prend 50% de la largeur */
    background-color: var(--greymouvaplan);
    background-image: url('../../image/mouvaplan/planfigma.jpg'); /* Lien vers votre image */
    background-size: cover; /* L'image couvre toute la partie */
    background-position: center; /* Centrage de l'image */
    display: flex;
    justify-content: center;
    align-items: center; /* Centrage vertical et horizontal du texte */
}

/* Partie droite avec fond coloré */
.figma-content-side {
    flex: 1; /* Prend 50% de la largeur */
    background-color: #1b1b1b; /* Couleur de fond */
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}

.figma-content-side p{
    padding-right: 60px;
    padding-bottom: 60px;
}

.figma-content-side p strong {
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

.font-presentation {
    font-family: 'Satoshi', sans-serif;
    background-color: #f5f5eb;
    padding: 40px;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

/* Style pour le nom de la police */
.font-name {
    font-size: 48px;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}

/* Style pour l'exemple de texte de la police */
.font-sample, .font-sample-numbers {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin: 5px 0;
}

/* Style pour les différentes variantes de police */
.font-styles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.font-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.font-example {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.style-name {
    font-size: 16px;
    color: #666;
}

/* Description */
.font-description {
    font-size: 18px;
    color: #333;
}

.presentionfont {
    display: flex; /* Utilise Flexbox pour l'alignement */
    justify-content: space-between; /* Espace entre les colonnes */ /* Prend toute la largeur */
    gap: 20px;
}

.presentionfont p{
    margin-top: 0px;
}


.presenationfontdroite {
    border-radius: 25px;
    background-color: #B3E3A2;
    padding: 20px 40px;
    min-width: 60%;
}

.presenationfontdroite h1{
    padding: 0;
    margin: 0;
}


.font-sample {
    font-size: 20px; /* Taille de la police d'exemple */
    color: #FFFCE2; /* Couleur du texte */
}


.Ericaone p{
    font-family: "IBM Plex Mono", monospace;
}

.Ericaone H1{
    font-family: 'Erica One', sans-serif;
    color: #3B7958;
    font-size: 50px;
}
.leslettresErica p{
    font-family: 'Erica One', sans-serif;
    color: #3B7958;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 0.9; 

}

.Interblack p {
    font-family: "IBM Plex Mono", monospace;
}


.Interblack H1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #3B7958;
    font-size: 35px;
    color: #3B7958;
    margin-bottom: 10px;
}
.leslettresInterblack p{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #3B7958;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 1; 

}


.Inter p {
    font-family: "IBM Plex Mono", monospace;
}


.Inter H1{
    font-family: 'Inter', sans-serif;
    font-weight:normal;
    color: #3B7958;
    font-size: 25px;
    padding-bottom: 10px;
}
.leslettresInter p{
    font-family: 'Inter', sans-serif;
    color: #3B7958;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 1; 

}

.style-name {
    font-family: 'Arial', sans-serif; /* Changez 'Arial' par la police de votre choix */
    font-size: 16px; /* Taille de la police pour le nom de style */
    color: #000000; /* Couleur noire */
}

.marckers{
    display: flex;
    border-radius: 25px 25px 0px 0px ;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background-color: var(--greymouvaplan);
}

.mouvaplanicons{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.mouvaplanicons img{
    max-height: 50vh;
    object-fit: cover;
    border-radius:  0px 0px 25px 25px;
}

.telmouvaplan{
    margin-top: 40px;
    background-color: var(--greymouvaplan);
    border-radius: 25px;
    display: flex;
    padding: 50px;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.telgroupe{
    height: auto;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    justify-items: center;
    align-items: center;
    gap: 5px;
    width: 30%;
    position: relative;
}

.telgroupe img{
    max-height: 80vh;
    object-fit: contain;
}

.telgroupe span{
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.192);
}

.marckers img{
    width: calc(20% - 50px);
    scale: 1;
    transition: 0.3s ease;
    border-radius: 50%;
}

.marckers img:hover{
    scale: 1.1;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.101);
}