@import url('../outils/police.css');
@import url('../outils/color.css');
@import url('../outils/badge.css');


.entete img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit l'écran sans déformer la vidéo */
    z-index: -2; /* Place la vidéo derrière le contenu */
    background-size: cover;
    height: 100%;
    max-height: 1200px;
    -webkit-user-select: none; /* Pour Chrome, Safari et autres navigateurs basés sur WebKit */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer */
    user-select: none;  
}

.entete {
    width: 100%;
    height: 100%;
    position: relative;
}


#scroll-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour s'assurer que l'image couvre toute la zone */
    transition: filter 0.3s ease; /* Transition pour l'effet d'assombrissement */
  }

.section.infoprojet {

    background-color: var(--backgroundproject);

}

.infoprojet {
    width: 100%;
    background-color: var(--backgroundproject);
    padding-left:  40px;    
    padding-right:  40px;
}

.infoprojet img {
    width: 100%;
    border-radius: 25px;
    
}

.infoprojet video {
    border-radius: 25px;
}

.infoprojet h2 {
    color: black ;
    font-size: 40px;
    line-height: 1; /* Augmente l'espacement entre les lignes */
}

.infoprojet p {
    color: black ;
    font-family: "IBM Plex Mono", monospace;
    
}

.infoprojet p strong {
    color: rgb(49, 49, 49) ;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    
}

.infoprojet > div {
    margin-bottom: 30px;

}

.container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background: rgba(29, 31, 32, 0.904)
      radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
  
    background-size: 11px 11px;
  }
  
.explicationmouvaplan{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between; /* Sépare les éléments à gauche et à droite */
    align-items: flex-start; /* Aligne en haut de chaque bloc */
    position: relative;

}

.explicationmouvaplan p{
    width: 40%;
}

.explicationmouvaplan p strong {
    color: rgb(49, 49, 49) ;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    
}

.explicationmouvaplan ::selection {
    background-color: #B3E3A2;
    color: #3B7958; /* Couleur de surlignage (jaune doré) */
}

.explicationconsole{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between; /* Sépare les éléments à gauche et à droite */
    align-items: flex-start; /* Aligne en haut de chaque bloc */
    position: relative;

}

.explicationconsole p{
    width: 40%;
}

.explicationconsole ::selection {
    background-color: #000000;
    color: #ffffff; /* Couleur de surlignage (jaune doré) */
}

/* Style pour l'explication */
.texteexplicatif{
    text-align: justify;
    line-height: 1.5; /* Augmente l'espacement entre les lignes */ /* Limite la largeur du pavé pour une meilleure lisibilité */
    margin-bottom: -30px;
    font-size: 1rem;
    

}

.titredelexplication{
    text-align: right;
}

.titredelexplication h2{
    font-size: 9rem;
}

.doubleimagemouvaplan{
    display: flex;
    gap: 30px;
    object-fit: cover;

}

.doubleimagemouvaplan img{
    width: 100%;
    max-width: 49%;
}

.uneimagemouvaplantel{
    display: flex;
    align-items: center;
}

.uneimagemouvaplantel img{
    background-color: var(--greymouvaplan);
    height: 500px;
    object-fit: cover;
}

.uneimagemouvaplan{
    display: flex;
    align-items: center;
}

/* Style pour l'explication */

.carte iframe{
    border-radius: 25px;
    width: 100%;
    margin-top: 30px;
}
/*--------------*/
.legend {
    font-size: 1rem;
}

.legend ::selection {
    background-color: #ffd700;
}

.legend p {
    margin: 2px 0;
}

.legend-number {
    font-family: "IBM Plex Mono", monospace;
}

.presentation-50-50{
    display: flex;
    gap:30px;
    justify-content: space-between;
    justify-content: center;
    padding-top: 30px;
    margin: 0px;
}

.presentation-50-50 img{
    width: calc((100% - 30px) / 2); /* subtracting total gap to keep each image equally sized */
    height: auto;
    object-fit: cover;
    background-color: var(--greymouvaplan);

}
.presentation-app2 {
    display: flex;
    gap: 30px; /* Espace entre les deux conteneurs */
  }
  
  .presentation-app2-gauche, 
  .presentation-app2-droite {
    flex: 2; /* Distribue l'espace de manière égale au début */
  }
  
  .presentation-app2-gauche {
    flex: 1; /* Rend la gauche deux fois plus large que la droite */
  }
  
  .presentation-app2 img {
    background-color: var(--greymouvaplan);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Applique l'effet de remplissage */
  }
  
  /* Option pour une hauteur fixe et identique */
  .presentation-app2-gauche, 
  .presentation-app2-droite {
    height: 400px; /* Fixe la hauteur des deux conteneurs */
  }
  
  
.citation ::selection {
    background-color: #ffd700; /* Couleur du fond */
}

/* Pour les navigateurs WebKit (Chrome, Safari) */
.citation ::-webkit-selection {
    background-color: #ffd700;
}

.citation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    height: 200px;
    padding: 100px 33.33vh;
}

/* Style du blockquote */
blockquote {
    font-size: 1rem;
    font-style: italic;
    color: #000000;
    font-family: "IBM Plex Mono", monospace;
    display: inline-block;
    overflow: hidden;  /* Cache le texte qui n'est pas encore affiché */
}

.citationdefin{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    padding: 60px;
    padding-top: 100px;
}

.citationdefin li{
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

.content-number {
    position: absolute;
    top: 20px;
    left: 25px;
    color: rgba(0, 0, 0, 0.192);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9999;
    -webkit-user-select: none; /* Pour Chrome, Safari et autres navigateurs basés sur WebKit */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer */
    user-select: none;  
}

.explication ::selection {
    background-color: #ffd700; /* Couleur du fond */
}

/* Pour les navigateurs WebKit (Chrome, Safari) */
.explication ::-webkit-selection {
    background-color: #ffd700;
}

.explication{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Sépare les éléments à gauche et à droite *//* Aligne en haut de chaque bloc */
    position: relative;

}

.explication p{
    width: calc(50% - 12.5px);
    margin: 0;
    padding: 0;
}


/* Styles pour le panneau QR code */
.panneauqrcode {
    position: fixed;
    z-index: 9;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000; /* Plus haut que la navbar */
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 12vh 20vh 10vh 20vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    display: none;
    gap: 20px;
}

.panneauqrcode img {
            width: 25vh;
            padding-bottom: 20px;
        }

        .panneauqrcode a {
            white-space: nowrap;
            font-family:"IBM Plex Mono", monospace; ;
            text-decoration: none;
            color: #000000;
        }

        .panneauqrcode a:hover {
            text-decoration: none;
            color: #000000;
            text-decoration:underline;
        }

        .panneauqrcode .close-btn {
            position: absolute;
            top: 8px;
            right: 20px;
            background: transparent;
            border: none;
            font-size: 30px;
            cursor: pointer;
            color: gray;
            transition: 0.3s ease-in-out;
        }

        .panneauqrcode .close-btn:hover {
            color: rgb(0, 0, 0);
            scale: 1.1;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, 0.677);
            z-index: 9;
            display: none;
            backdrop-filter: blur(2px); /* Effet de flou */
            display: none;
        }
        