
/* Fondworks : Conteneur principal */
.fondworks {
    display: flex;
    width: 100%;
    padding-top: 90px;
    justify-content: space-between;
}

img{
    max-height: 80vh;
}

video{
    max-height: 80vh;
}

.titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nom{
    display: flex;
    align-items: center;
}

.nom h3::selection{
    background-color: var(--soulignage);
}

.nom span::selection{
    background-color: var(--soulignage);
}

.nom h3{
    font-size: 1.7rem;
    font-family: "IBM Plex Mono", monospace;
}

.nom img{
    height: 2rem;
    padding-right: 0.5rem;
}

.nom span{
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

.logiciel span{
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

.logiciel span::selection{
    background-color: var(--soulignage);
}

.barre-verticaleblack {
    width: 2px; /* Largeur de la barre */
    height: 25px; /* Hauteur de la barre */
    background-color: #000000; /* Couleur de la barre */
    margin-inline: 10px; /* Espacement autour de la barre */
}

/* Travaux : Section des projets */
.works {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

/* Projet individuel */
.projet1 {
    position: relative;
    z-index: 12;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: var(--greymouvaplan);
    color: black;
    border-radius: 25px;
    font-size: 18px;
}

.imagesworks {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.imagesworks img{
    max-width: 33.33%;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
}

.imagesworkspop {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.imagesworkspop img{
    max-width: 25%;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
}

.imagesworksposters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 20px;
}

.imagesworksposters img{
    width: auto;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
    max-width: 100vh;
}

.imagesworkspop video{
    max-width: 25%;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
}

.imagesworks video{
    max-height: 80vh;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.texteworks p{
    color: black;
    padding: 0px;
    margin: 0px;
}

.texteworks ::selection{
    background: var(--soulignage);
}
/* Barre verticale */

.droite {
    position: relative; /* Définit le contexte de positionnement pour les enfants */
    width: 150px;
    display: flex;
    padding-left: 27px;
    overflow: hidden; /* Masque les éléments qui dépassent */
}

.swinging-image {
    position: absolute; /* Relative à .droite */
    bottom: -10px; /* Ajuster la position pour qu'elle commence dans .droite */
    right: 10px;
    z-index: 99999;
}

.barreverticale {
    width: 4px;
    background: var(--greymouvaplan);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.imgcent{
    position: relative;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 100%;
}

.imgcent img{
    max-width: 100%;
}

.imgcent video{
    max-width: 100%;
}

.imgcinq{
    display: flex;
    justify-content:center;
    gap: 20px;
}

.imgcinq img{
    object-fit: contain;
    max-height: 80vh;
    max-width: calc(50% - 10px);
}

.imgvingt{
    display: flex;
}

.imgvingt img{
    max-width: 20%;
}

.lienprojets {
    z-index: 2000;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 15px;
    border-radius: 10px;
    transition: 0.2s ease;
    text-align: center; /* Pour centrer le texte du bouton */
    text-transform: uppercase;
    margin-left: 1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.5;
}

.lienprojets img{
    width: 1.3rem;
    padding: 0;
    margin: 0;
}

.lienprojets:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    opacity: 1;
}

.date{
    font-weight: bold;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--greymouvaplan);
    padding: 10px;
    padding-inline: 20px;
    position: absolute;
    color: rgb(86, 86, 86);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    right: -108px;
    margin-top: -30px;
}