
/* Fondworks : Conteneur principal */
.fondworks {
    display: flex;
    width: 100%;
    padding-top: 90px;
    justify-content: space-between;
}

img{
    max-height: 80vh;
    width: ;: auto; /* Maintient les proportions */
    display: block; /* Évite les espaces blancs sous l'image */
}

video{
    max-height: 80vh;
    width: auto; /* Maintient les proportions */
    display: block; /* Évite les espaces blancs sous l'image */
}

.titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nom{
    display: flex;
    align-items: center;
}

.nom h3{
    font-size: 1.7rem;
    font-family: "IBM Plex Mono", monospace;
}

.nom span{
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

.logiciel span{
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

.barre-verticaleblack {
    width: 2px; /* Largeur de la barre */
    height: 25px; /* Hauteur de la barre */
    background-color: #000000; /* Couleur de la barre */
    margin-inline: 10px; /* Espacement autour de la barre */
}

/* Travaux : Section des projets */
.works {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

/* Projet individuel */
.projet1 {
    z-index: 12;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: var(--greymouvaplan);
    color: black;
    border-radius: 25px;
    font-size: 18px;
}


.imagesworks {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex:3;
}

.imagesworks img{
    max-width: 33.33%;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
    flex:1;
}

.imagesworkspop {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex:4;
}

.imagesworkspop img{
    max-width: 25%;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
    flex:1;
}

.imagesworksposters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap
}

.imagesworksposters img{
    width: auto;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
}

.imagesworkspop video{
    max-width: 25%;
    padding: 0px;
    margin: 0px;
    max-height: 80vh;
    flex:1;
}

.imagesworks video{
    max-height: 80vh;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.texteworks p{
    color: black;
    padding: 0px;
    margin: 0px;
}
/* Barre verticale */

.droite {
    position: relative; /* Définit le contexte de positionnement pour les enfants */
    width: 150px;
    display: flex;
    padding-left: 27px;
    overflow: hidden; /* Masque les éléments qui dépassent */
}

.swinging-image {
    position: absolute; /* Relative à .droite */
    bottom: -10px; /* Ajuster la position pour qu'elle commence dans .droite */
    right: 10px;
    z-index: 99999;
}

.barreverticale {
    width: 4px;
    background: var(--greymouvaplan);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.imgcent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
}

.imgcent img{
    max-width: 100%;
}

.imgcinq{
    display: flex;
    justify-content:space-between;
    flex:2;

}

.imgcinq img{
    height: 500px;
    object-fit: contain;
    max-width: 50%;
    flex:1;
}

.imgvingt{
    display: flex;
}

.imgvingt img{
    max-width: 20%;
}

.lienprojets{
    z-index: 20;
    position:absolute;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: rgba(255, 255, 255, 0.358);
    padding: 10px;
    padding-inline: 15px;
    border-radius: 10px;
    transition: 0.2s ease;
    margin-top: 40%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(5px);
}

.lienprojets:hover{
    color: white;
    transform: scale(1.05);

}

.date{
    font-weight: bold;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--greymouvaplan);
    padding: 10px;
    padding-inline: 20px;
    position: absolute;
    color: rgb(86, 86, 86);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 31px;
    margin-top: -30px;

}