@import url(../outils/latestprojects.css);
@import url('../outils/navbar.css');
@import url('../outils/skills.css');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacquarda Bastarda 9", serif;

}
/*image de fond*/


h1 {
    font-size: 3rem;
    padding-top: 4rem;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    
}

section.top-page {
    background-color: #000000;
    background: url('../../video/tout.mp4');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}


/* menu de navigation*/

.top-page video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit l'écran sans déformer la vidéo */
    z-index: -1; /* Place la vidéo derrière le contenu */
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

li {
    list-style: none;
}

a:hover{
    color: #d8f4ff;
}

/*gros logo*/
.logo-grand img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    display: flex;
    place-items: center;
}

/*------------------------------
