.information {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    gap: 20px;
    left: 0px;
    position: relative;
}

.information li {
    font-family: "IBM Plex Mono", monospace;
    background-color: rgba(23, 23, 23, 0.751);
    backdrop-filter: blur(0px);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    padding: 15px;
    padding-inline: 25px;
    gap: 20px;
    scale: 1;
    transition: transform 0.5s ease;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.24);
    z-index: 1000;
    transition: transform 0.5s ease;
}

.information li:hover {
    background-color: rgba(85, 85, 85, 0.751);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.24);
    z-index: 1000;
    
}
  